body {
  background-color: bisque;
  font-family: 'Courier New', Courier, monospace;
}

table {
  border-collapse: collapse;
  width: 200px;
  background-color: rgba(207, 73, 73, 0.418);
  color: purple;
}

td {
  border: 1px solid purple;
  text-align: center;
  padding: 10px;
}

#sec {
  background-color: aquamarine;
  margin-top: 50px;
}